.container
  %h1 Listing Cars

  %table
    %tr
      %th Car Make
      %th Car Model
      %th Car Version
      %th Car Year
      %th Car City
      %th Car Mileage
      %th Car Price
      %th Car Transmission
      %th Car Description
      %th Car Type
      %th
      %th
      %th

    - @cars.each do |car|
      %tr
        %td= car.car_make
        %td= car.car_model
        %td= car.car_version
        %td= car.car_year
        %td= car.car_city
        %td= car.car_mileage
        %td= car.car_price
        %td= car.car_trans
        %td= car.car_desc
        %td= car.car_type
        %td= link_to 'Show', car
        %td= link_to '|Edit', edit_car_path(car)
        %td= link_to '|Remove', car, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'Add New Car', new_car_path