= simple_form_for(@car, :html => { :multipart => true}) do |f|
  = f.error_notification

  .form-inputs
     
    = f.label 'Make'
    %p
    = f.text_field :car_make, :placeholder => "Honda, Toyota etc..."
    %p
    = f.label 'Model'
    %p
    = f.text_field :car_model, :placeholder => "Civic, Corolla etc..."
    %p
    = f.label 'Version'
    %p
    = f.text_field :car_version, :placeholder => "VTi, GLi etc..."
    %p
    = f.label 'Year'
    %p
    = f.text_field :car_year
    %p
    = f.label 'City'
    %p
    = f.text_field :car_city
    %p
    = f.label 'Mileage'
    %p
    = f.text_field :car_mileage
    %p
    = f.label 'Price'
    %p
    = f.text_field :car_price
    %p
    = f.label 'Transmission'
    %p
    = f.text_field :car_trans, :placeholder => "Manual or Auto"
    %p
    - if current_user.has_role? :admin
      = f.label 'Type'
      %p
      = f.text_field :car_type, :placeholder => "Used or New"
    - else
      = f.text_field :car_type, :value => "Used", :hidden => true
    %p
    = f.label 'Description'
    %p
    = f.text_area :car_desc, :rows=>6, :placeholder => "Write any feature or info you want to add..."
    %p
    - if params[:controller] == "cars" && params[:action] == "edit"
      = f.label 'Photos'
    
    - if params[:controller] == "cars" && params[:action] == "edit"
      - @car.photos.each do |p|
        %div.car-image
          = image_tag p.image, :size => "100x100"
          = link_to "Remove", p, method: :delete, :data => { :confirm => 'Are you sure?' }
    %p
    = f.label 'Add Photos'
    %p
    = f.file_field :image, :multiple => true, name: "photos[image][]"
    
    %br
  .form-actions
    = f.submit 'Save', :class => "btn btn-primary"