<h1>Listing cars</h1>
 
<table>
  <tr>
    <th>Car Type</th>
    <th>Car make</th>
    <th>Car model</th>
    <th>Car version</th>

    <th colspan="3"></th>
  </tr>
 
  <% @cars.each do |car| %>
    <tr>
      <td><%= car.car_type %></td>
      <td><%= car.make %></td>
      <td><%= car.model %></td>
      <td><%= car.version %></td>
      <td><%= link_to 'Show', car_path(car) %></td>
      
    </tr>
  <% end %>
  </table>