.container
  %br
  = link_to 'Used Cars', used_cars_path, :class => "btn btn-primary"
  = link_to 'New Cars', new_cars_path, :class => "btn btn-primary"
  %br
  %br

  %h1 New Cars
  <hr style="color:#c00;background-color:#A0A0A0;height:1px;border:none;" />

  - if @cars.any?
    - @cars.each do |car|
      %div.car-image
        - car.photos.each do |p|
          = image_tag p.image_url(:thumb)
      .label.label-primary Make
      = link_to car.car_make, controller: "cars", action: "show", id: car.id
      %p
      .label.label-primary Model
      = car.car_model
      %p
      .label.label-primary Version
      = car.car_version
      %p
      .label.label-primary Year
      = car.car_year
      %p
      .label.label-primary City
      = car.car_city
      %p
      .label.label-primary Mileage
      = car.car_mileage
      %p
      .label.label-primary Price
      = car.car_price
      %p
      .label.label-primary Tansmission
      = car.car_trans
      %p
      .label.label-primary Description
      = car.car_desc
      %p
      .label.label-primary Type
      = car.car_type
      <hr style="color:#c00;background-color:#A0A0A0;height:1px;border:none;" />

    = paginate @cars

  - else
    %h4 Oops! Nothing found