-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar
  .container
    .navbar-header
      %div.brand
        = image_tag "logo.png"
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
     
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
      %ul
        %li
          = link_to 'Home', root_path, class: 'navbar-brand'
        %li
          = link_to 'About', page_path('about'), class: 'navbar-brand'
        %li
          = link_to 'Contact', new_contact_path, class: 'navbar-brand'
        %li

          = link_to 'Cars', cars_all_path, class: 'navbar-brand'
        %li

          = link_to "Add Cars", new_car_path, class: 'navbar-brand'
     
